4_PrezentacioniSloj/PrezentacionaLogika/KorisnickiInterfejs/KorisnickiInterfejs/KorisnickiInterfejs/Web References/WSUniverzitet/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DajSvaZvanja">
        <s:complexType />
      </s:element>
      <s:element name="DajSvaZvanjaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DajSvaZvanjaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DajZvanje">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DajZvanjeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DajZvanjeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DajIDZvanja">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="naziv" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DajIDZvanjaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DajIDZvanjaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DajSvaZvanjaSoapIn">
    <wsdl:part name="parameters" element="tns:DajSvaZvanja" />
  </wsdl:message>
  <wsdl:message name="DajSvaZvanjaSoapOut">
    <wsdl:part name="parameters" element="tns:DajSvaZvanjaResponse" />
  </wsdl:message>
  <wsdl:message name="DajZvanjeSoapIn">
    <wsdl:part name="parameters" element="tns:DajZvanje" />
  </wsdl:message>
  <wsdl:message name="DajZvanjeSoapOut">
    <wsdl:part name="parameters" element="tns:DajZvanjeResponse" />
  </wsdl:message>
  <wsdl:message name="DajIDZvanjaSoapIn">
    <wsdl:part name="parameters" element="tns:DajIDZvanja" />
  </wsdl:message>
  <wsdl:message name="DajIDZvanjaSoapOut">
    <wsdl:part name="parameters" element="tns:DajIDZvanjaResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="DajSvaZvanja">
      <wsdl:input message="tns:DajSvaZvanjaSoapIn" />
      <wsdl:output message="tns:DajSvaZvanjaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DajZvanje">
      <wsdl:input message="tns:DajZvanjeSoapIn" />
      <wsdl:output message="tns:DajZvanjeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DajIDZvanja">
      <wsdl:input message="tns:DajIDZvanjaSoapIn" />
      <wsdl:output message="tns:DajIDZvanjaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DajSvaZvanja">
      <soap:operation soapAction="http://tempuri.org/DajSvaZvanja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DajZvanje">
      <soap:operation soapAction="http://tempuri.org/DajZvanje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DajIDZvanja">
      <soap:operation soapAction="http://tempuri.org/DajIDZvanja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DajSvaZvanja">
      <soap12:operation soapAction="http://tempuri.org/DajSvaZvanja" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DajZvanje">
      <soap12:operation soapAction="http://tempuri.org/DajZvanje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DajIDZvanja">
      <soap12:operation soapAction="http://tempuri.org/DajIDZvanja" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:1370/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:1370/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>